.haven__brand {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
   }
   .haven__brand-SupportRefugees-text{
    justify-content: center;
   }
   
   .haven__brand-SupportRefugees-text h3{
    left: 270px;
    top: 1130px;
    position: absolute;
    text-align: right;
    margin-right: 10px;
    color: var(--White, #D9D9D9);
    text-align: right;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
   }
   .haven__brand-SupportRefugees-text p{
    width: 400px;
    position: absolute;
    left: 150px;
    top: 1180px;
    color: var(--White, #D9D9D9);
    text-align: right;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
   }
   .haven__brand-Transparency-text{
    justify-content: center;
   }
   .haven__brand-Transparency-text h3{
    left: 930px;
    top: 1310px;
    position: absolute;
    margin-right: 10px;
    color: var(--White, #D9D9D9);
    text-align: right;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
   }
   .haven__brand-Transparency-text p{
    width: 400px;
    position: absolute;
    left: 930px;
    top: 1355px;
    color: var(--White, #D9D9D9);
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
   }
   .haven__brand-Payments-text h3{
    left: 150px;
    top: 1540px;
    position: absolute;
    margin-right: 10px;
    color: var(--White, #D9D9D9);
    text-align: right;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
   }
   .haven__brand-Payments-text p{
    width: 430px;
    position: absolute;
    left: 110px;
    top: 1590px;
    color: var(--White, #D9D9D9);
    text-align: right;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
   }
   @media screen and (max-width: 1440px) {
    .haven__brand-Transparency-text h3{
        width: 450px; 
        font-size: 40px;
    }  
    .haven__brand-Transparency-text p{
        margin-left: 90px;
    } 
   }
   @media screen and (max-width: 1050px) {
    .haven__brand-SupportRefugees-image {
        margin-left: 350px;
    }
    .haven__brand-Transparency-text h3{
        width: 450px; 
        font-size: 40px;
    }
    @media screen and (max-width: 800px) {
        .haven__brand-SupportRefugees-image {
            margin-left: 580px;
        }
    }
    @media screen and (max-width: 490px) {
        .haven__brand-SupportRefugees-image {
            margin-left: 1100px;
        }
        .haven__brand-SupportRefugees-text h3{
            width: 360px; 
            font-size: 40px;
            left: 110px;
        }
        .haven__brand-SupportRefugees-text p{
            margin-top: 10px;
        }
        .haven__brand-Payments-text h3{
            width: 500px; 
            font-size: 40px;
            left: 20px;
            margin-top: 10px;
        }
         .haven__brand-Payments-text p{
            margin-top: 20px;
        }
        .haven__brand-Transparency-text h3{
            width: 500px; 
            font-size: 40px;
        }  
        .haven__brand-Transparency-text p{
            margin-left: 150px;
        } 
    }
}
   