@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  

  --font-family: 'Inter', sans-serif;
    
  --gradient-text: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(235, 166, 84, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(235, 166, 84, 1) 75%, rgba(255, 255, 255, 1) 100%);;
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    --blue: rgba(217, 217, 217, 1);
    --dark-blue: rgba(9, 16, 32, 1);
    --grey: rgba(47, 57, 79, 1);
    --lighter-blue: rgba(26, 33, 48, 1);
    --white: rgba(217, 217, 217, 1);
    --yellow: rgba(235, 166, 84, 1);
  
  --color-bg: #091020;
  --color-footer : #1a2130;
  --color-blog: #2f394f;
  --color-text: #FFFFFF;
  --color-subtext: #eba654;
}